@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* Use Motion's spring() helper to generate a spring easing */
  --testimonial-transition: spring(0.5, 0.2);
}

.carousel-item {
  transition:
    transform var(--testimonial-transition),
    opacity   var(--testimonial-transition);
}

body {
  font-family: 'Lexend Deca', sans-serif;
  letter-spacing: 0.02em;
  font-weight: 300;
}

h1,
h2,
h3,
h4 {
  font-family: 'Vollkorn', serif;
}

h1 {
  font-weight: 700;
  line-height: 1.5em;
  /* 36px */
}