@import "tailwindcss";
@plugin "flowbite/plugin";
@plugin "flowbite-typography";
@plugin "tailwind-scrollbar";

@utility prose {
  max-width: 100ch;
}

@custom-variant scrollbar-dark (&:where(.dark, .dark *));
@custom-variant scrollbar-rounded (&:where(.rounded, .rounded *));
@custom-variant scrollbar-hover (&:hover);

@theme {
  /* Primary colors */
  --color-primary: #213343;
  --color-primary-900: #070a0e;
  --color-primary-800: #0d151b;
  --color-primary-700: #141f29;
  --color-primary-600: #1b2a37;
  --color-primary-500: #213343;
  --color-primary-400: #3d5e7b;
  --color-primary-300: #5b87ae;
  --color-primary-200: #92afc9;
  --color-primary-100: #c8d7e4;

  /* Secondary colors */
  --color-secondary: #ffe066;
  --color-secondary-100: #473900;
  --color-secondary-200: #8f7200;
  --color-secondary-300: #d6ab00;
  --color-secondary-400: #ffd21f;
  --color-secondary-500: #ffe066;
  --color-secondary-600: #ffe785;
  --color-secondary-700: #ffeda3;
  --color-secondary-800: #fff3c2;
  --color-secondary-900: #fff9e0;
  --color-secondary-950: #fffaf1;

  /* Highlight colors */
  --color-highlight: #ff5c35;
  --color-highlight-900: #3d0c00;
  --color-highlight-800: #7a1800;
  --color-highlight-700: #b82500;
  --color-highlight-600: #f53100;
  --color-highlight-500: #ff5c35;
  --color-highlight-400: #ff7c5c;
  --color-highlight-300: #ff9d85;
  --color-highlight-200: #ffbead;
  --color-highlight-100: #ffded6;
  --color-highlight-50: #fff5f2;
  --color-highlight-25: #fef4ea;

  /* Status colors */
  --color-status: #5C62D6;
  --color-status-900: #0c0e31;
  --color-status-800: #181c62;
  --color-status-700: #252a93;
  --color-status-600: #3138c4;
  --color-status-500: #5c62d6;
  --color-status-400: #7c81de;
  --color-status-300: #9da1e7;
  --color-status-200: #bec0ef;
  --color-status-100: #dee0f7;
  --color-status-50: #f2f3fb;

  /* Neutral colors */
  --color-neutral: #70c1b3;
  --color-neutral-900: #122b27;
  --color-neutral-800: #25564e;
  --color-neutral-700: #378174;
  --color-neutral-600: #49ab9b;
  --color-neutral-500: #70c1b3;
  --color-neutral-400: #8dcec3;
  --color-neutral-300: #a9dad2;
  --color-neutral-200: #c6e7e1;
  --color-neutral-100: #e2f3f0;
  --color-neutral-50: #f1f9f7;

  /* Purple colors */
  --color-purple: #ab93d5;
  --color-purple-100: #170f25;
  --color-purple-200: #2e1d4b;
  --color-purple-300: #452c70;
  --color-purple-400: #5c3a96;
  --color-purple-500: #724ab8;
  --color-purple-600: #8f6fc7;
  --color-purple-700: #ab93d5;
  --color-purple-800: #c7b7e3;
  --color-purple-900: #e3dbf1;

  /* Black colors */
  --color-black: #02010a;
  --color-black-100: #000002;
  --color-black-200: #010004;
  --color-black-300: #010106;
  --color-black-400: #020107;
  --color-black-500: #02010a;
  --color-black-600: #140a64;
  --color-black-700: #2713bf;
  --color-black-800: #5c49ed;
  --color-black-900: #aea4f6;

  /* Xanthous Yellow colors */
  --color-xanthous-yellow: #ffbd4d;
  --color-xanthous-yellow-100: #422a00;
  --color-xanthous-yellow-200: #855400;
  --color-xanthous-yellow-300: #c77e00;
  --color-xanthous-yellow-400: #ffa50a;
  --color-xanthous-yellow-500: #ffbd4d;
  --color-xanthous-yellow-600: #ffcb70;
  --color-xanthous-yellow-700: #ffd894;
  --color-xanthous-yellow-800: #ffe5b8;
  --color-xanthous-yellow-900: #fff2db;
  --color-xanthous-yellow-950: #fffaf1;

  /* Persian Rose colors */
  --color-persian-rose: #fb31a8;
  --color-persian-rose-100: #3b0123;
  --color-persian-rose-200: #760246;
  --color-persian-rose-300: #b10469;
  --color-persian-rose-400: #ec058c;
  --color-persian-rose-500: #fb31a8;
  --color-persian-rose-600: #fc5bb9;
  --color-persian-rose-700: #fc84ca;
  --color-persian-rose-800: #fdaddc;
  --color-persian-rose-900: #fed6ed;

  /* Other Orange colors */
  --color-other-orange: #fc814a;
  --color-other-orange-100: #401501;
  --color-other-orange-200: #812a02;
  --color-other-orange-300: #c13f03;
  --color-other-orange-400: #fb560a;
  --color-other-orange-500: #fc814a;
  --color-other-orange-600: #fd9b6e;
  --color-other-orange-700: #fdb492;
  --color-other-orange-800: #fecdb7;
  --color-other-orange-900: #fee6db;

  /* Accent1 colors */
  --color-accent1: #b7ecec;
  --color-accent1-100: #124242;
  --color-accent1-200: #238484;
  --color-accent1-300: #35c6c6;
  --color-accent1-400: #74dada;
  --color-accent1-500: #b7ecec;
  --color-accent1-600: #c5f0f0;
  --color-accent1-700: #d3f3f3;
  --color-accent1-800: #e2f7f7;
  --color-accent1-900: #f0fbfb;

  /* Dodger blue colors */
  --color-dodger-blue-50: #e5f5ff;
  --color-dodger-blue-100: #ccebff;
  --color-dodger-blue-200: #99d6ff;
  --color-dodger-blue-300: #66c2ff;
  --color-dodger-blue-400: #33adff;
  --color-dodger-blue-500: #0099ff;
  --color-dodger-blue-600: #007acc;
  --color-dodger-blue-700: #005c99;
  --color-dodger-blue-800: #003d66;
  --color-dodger-blue-900: #001f33;
  --color-dodger-blue-950: #001524;

  /* Coral Glow colors */
  --color-coral-glow-50: #ffebe5;
  --color-coral-glow-100: #ffd6cc;
  --color-coral-glow-200: #ffad99;
  --color-coral-glow-300: #ff8566;
  --color-coral-glow-400: #ff5c33;
  --color-coral-glow-500: #ff3300;
  --color-coral-glow-600: #cc2900;
  --color-coral-glow-700: #991f00;
  --color-coral-glow-800: #661400;
  --color-coral-glow-900: #330a00;
  --color-coral-glow-950: #240700;

  /* Gold colors */
  --color-gold-50: #fffae5;
  --color-gold-100: #fff6cc;
  --color-gold-200: #ffec99;
  --color-gold-300: #ffe366;
  --color-gold-400: #ffda33;
  --color-gold-500: #ffd000;
  --color-gold-600: #cca700;
  --color-gold-700: #997d00;
  --color-gold-800: #665300;
  --color-gold-900: #332a00;
  --color-gold-950: #241d00;

  /* Sky Surge colors */
  --color-sky-surge-50: #e5faff;
  --color-sky-surge-100: #ccf6ff;
  --color-sky-surge-200: #99ecff;
  --color-sky-surge-300: #66e3ff;
  --color-sky-surge-400: #33daff;
  --color-sky-surge-500: #00d0ff;
  --color-sky-surge-600: #00a7cc;
  --color-sky-surge-700: #007d99;
  --color-sky-surge-800: #005366;
  --color-sky-surge-900: #002a33;
  --color-sky-surge-950: #001d24;

  /* Deep Space Blue */
  --color-deep-space-blue-50: #e9f5fc;
  --color-deep-space-blue-100: #d2eaf9;
  --color-deep-space-blue-200: #a5d5f3;
  --color-deep-space-blue-300: #78c0ed;
  --color-deep-space-blue-400: #4babe7;
  --color-deep-space-blue-500: #1f96e0;
  --color-deep-space-blue-600: #1878b4;
  --color-deep-space-blue-700: #125a87;
  --color-deep-space-blue-800: #0c3c5a;
  --color-deep-space-blue-900: #061e2d;
  --color-deep-space-blue-950: #04151f;
}

:root {
  /* Use Motion's spring() helper to generate a spring easing */
  --testimonial-transition: spring(0.5, 0.2);
}

.carousel-item {
  transition:
    transform var(--testimonial-transition),
    opacity var(--testimonial-transition);
}

html {
  font-size: 22px;
}

bg-custom {
  background-color: #fef4ea33;
}

body {
  font-family: 'Hanken Grotesk Variable', 'DM Sans Variable', 'Lexend Deca', sans-serif;
  /* letter-spacing: 0.02em; */
  font-weight: 400;
  background-color: #ffebe5;

}

@font-face {
  font-family: 'Rokkitt Variable';
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/rokkitt/files/rokkitt-latin-wght-italic.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* rokkitt-latin-wght-normal */
@font-face {
  font-family: 'Rokkitt Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/rokkitt/files/rokkitt-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* Lusitana Regular (400) */
@font-face {
  font-family: 'Lusitana';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/lusitana/v21/CSR84z5Sh_Z3Zf2hSb7h.ttf') format('truetype');
}

/* Lusitana Bold (700) */
@font-face {
  font-family: 'Lusitana';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/lusitana/v21/CSR94z5Sh_Z3Zf2hSd7S.ttf') format('truetype');
}

/* Hanken Grotesk 300 */
@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/hankengrotesk/v12/..../HankenGrotesk-Light.woff2') format('woff2');
}

/* Hanken Grotesk 400 */
@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/hankengrotesk/v12/..../HankenGrotesk-Regular.woff2') format('woff2');
}

/* Hanken Grotesk 500 */
@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/hankengrotesk/v12/..../HankenGrotesk-Medium.woff2') format('woff2');
}

/* Hanken Grotesk 600 */
@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/hankengrotesk/v12/..../HankenGrotesk-SemiBold.woff2') format('woff2');
}

/* Hanken Grotesk 700 */
@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/hankengrotesk/v12/..../HankenGrotesk-Bold.woff2') format('woff2');
}

/* Hanken Grotesk 800 */
@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/hankengrotesk/v12/..../HankenGrotesk-ExtraBold.woff2') format('woff2');
}


h1,
h2,
h3,
h4 {
  font-family: 'Rokkitt Variable', serif;
  font-weight: 700;
}

h1 {
  font-weight: 700;
  line-height: 1.2em;
  /* 36px */
}

.hero-right {
  width: 100%;
  max-width: 586px;
  height: 520px;
  background-image: url("../img/hero.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-right-mobile {
  background-image: url("../img/herobanner_mob.png");
}

.services-background {
  height: 842px;
  background-image: url(../img/services.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Blog content css */
.article-content {
  h1,
  h2,
  h3 {
    color: #005366 !important;
  }
}