---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import Footer from "../components/astro/Footer.astro";
import About from "../components/astro/About.astro";
import Values from "../components/astro/Values.astro";
import Team from "../components/astro/Team.astro";
import Mission from "../components/astro/Mission.astro";
import Logos from "../components/astro/Logos.astro";

import Navbar from "../components/astro/Navbar.astro";
---

<Layout title="Home">
  <Navbar />
  <section class="max-w-4xl bg-highlight-25 mx-auto px-4 py-12">
    <Mission />
    <Values />
    <Logos />
    <Team />
  </section>
  <Footer />
</Layout>

