---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import Footer from "../components/astro/Footer.astro";
import MeetUs from "../components/astro/MeetUs.astro";

import Navbar from "../components/astro/Navbar.astro";
---

<Layout
  title="Contact SWOTBee | HubSpot & Shopify Consulting"
  description="Get in touch with our HubSpot and Shopify integration experts. We're here to help optimize your CRM, automate workflows, and boost your revenue growth."
>
  <Navbar />
  <section class="max-w-4xl bg-highlight-25 mx-auto px-4 py-12">

    <MeetUs />
  </section>
  <Footer />
</Layout>

