---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import Footer from "../components/astro/Footer.astro";
import ContactUs from "../components/astro/ContactUs.astro";

import Navbar from "../components/astro/Navbar.astro";
---

<Layout
  title="Subscribe | Stay Updated with SWOTBee"
  description="Subscribe to SWOTBee's newsletter for the latest HubSpot and Shopify integration tips, best practices, and industry insights. Join our community of successful businesses."
>
  <Navbar />
  <section class="max-w-4xl bg-highlight-25 mx-auto px-4 py-12">

    <ContactUs />
  </section>
  <Footer />
</Layout>

